<template>
  <div>
    <h1>Fetch Api</h1>
  
    <div v-for="pro in products" :key="pro" class="shadow-md m-3">
        <Card :product="pro"/>
    </div>
  </div>
</template>

<script setup>

    const {data: products} = await useFetch('https://fakestoreapi.com/products')
    console.log(products)
</script>

<style>

</style>