<template>
  <h1>
   
    {{ product.price }}
    <NuxtLink :to="`/contact/${product.id}`">
          <div>{{ product.title }}</div>
        </NuxtLink>
  </h1>
</template>

<script setup>

    const {product} = defineProps(['product'])

</script>

<style>

</style>