<template>
  <div>
    <div>
        <div>This is about page ids {{ id }}</div>
        <div>{{ product.title }}</div>
        <div>{{ product.price }}</div>
        
    </div>
  </div>
</template>

<script setup>
  const {id} = useRoute().params

  const uri = 'https://fakestoreapi.com/products/' + id
  const {data: product} = await useFetch(uri)

</script>

<style>

</style>