<template>
  <div>
    <pages.Page/>
    <h1>Index</h1>
    <NuxtLink to="/contact">Contact</NuxtLink>
    <NuxtLink to="/about/3">About</NuxtLink>
    <NuxtLink to="/api/" class="font-md bg-blue-400 m-3">Api</NuxtLink>
    <AppAlert>
      This is an auto-imported components.
    </AppAlert>
    {{ title }}
  </div>
</template>

<script setup>

    useHead({
      title: "Sokthin", 
      meta: [
        {
          name: "sokthin"
        }
      ]
    })

</script>

<style>

</style>